#wikiBoxOpen(${table})
#wikiBoxTitle("Overview of Items linked to Artifakte")
<table>
    	<tbody>
<tr>
<th>ID</th>
<th>Name</th>
<th>Artifact name	</th>
</tr>
<tr>
    #foreach($object in $table)
    #trOpen

	<td class="compact" style="white-space"><span class="subtext">#esc($object.getID())</td>

      <td class="compact"><a href="$object.getLink()">$object.getName()</a></td>

<td>
<ul>
		#foreach($attachment in $object.getAttachment() )
<li><a href="$attachment.getUrl()">$attachment.getName()</a></li>
        #end
</ul>
</td>
</tr>
		 

     #trClose
    #end
  </tbody>
</table>
#wikiBoxClose()


<output>
	#if($support.getUserLimitation()== $support.getStandardLimitation())
   <warning>Caution! Output standard limitation is <b>$support.getStandardLimitation()</b></warning>
	#else 
   <warning>Caution! Output limtation is <b>$support.getUserLimitation()</b></warning>
	#end
</output>

